Capital Markets Scraping - <%=@ticker%>:
<hr>
<table>
  <tr>
    <%@filing_info[0].each do |key, value|%>
      <td>
        <%=key%>
      </td>
    <%end%>
  </tr>
  <%@filing_info.each do |h| %>
    <tr>
      <%h.each do |key,value|%>
        <td>
          <%=value%>
        </td>  
      <%end%>
    </tr>
  <%end%>

</table>